/* VARIABLES */
:root {
    --primary_font: "Source Sans 3", sans-serif;
    --primary_color: #3C74A6;
    --primary_color_opacity: #3c75a682;
    --color_red_cancel: rgb(165, 4, 4);
    --border-radius: 0.125em;
}

main {
    font-family: var(--primary_font);
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #section_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20%;

        h1 {
            font-size: 4em;
            margin: 0em;
            color: var(--primary_color);
            font-weight: 450;
            font-style: italic;
        }

        h4 {
            font-weight: 400;
            font-size: 1em;
            margin: 0em;
        }
    }


    #section_form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60%;
        width: 70%;
        border: 1px solid var(--primary_color);

        #form_datos_personales {
            display: none;
        }

        form {
            width: 95%;

            h2 {
                font-size: 1.7em;
                margin: 0em 0em 0.5em;
                font-weight: 300;
            }

            label {
                font-size: 1em;
            }

            input {
                width: 120%;
                height: 2em;
                margin: 0.5em 0em 3em 0.7em;
            }

            section {
                display: flex;
                margin-left: 2em;

                article {
                    display: flex;
                    flex-direction: column;
                }
            }

            #section_user_pass {
                gap: 7em;

                #btn_pass {
                    border: none;
                    background: none;
                    align-self: flex-end;
                    margin: -5em -3.7em;
                    color: var(--primary_color);
                    cursor: pointer;
                    z-index: 2;
                }
            }

            #section_email {
                input {
                    width: 160%;
                }
            }

            #section_name {
                gap: 5em;
            }

            #section_document_mobile{
                display: none;
            }

            #section_document {

                select {
                    width: 80%;
                    height: 2.3em;
                    margin: 0.5em 0em 3em 0.7em;
                }

                gap: 2em;
            }

            .section_buttons {
                display: flex;
                align-items: center;
                gap: 1em;
                height: 4em;

                button {
                    cursor: pointer;
                    font-family: var(--primary_font);
                    border-radius: var(--border-radius);
                }

                #btn_next {
                    width: 6em;
                }

                #btn_create {
                    width: 7em;
                }

                #btn_next,
                #btn_create {
                    background-color: var(--primary_color);
                    color: white;
                    border: none;
                    height: 2em;
                    font-size: 1.3em;

                    &:hover {
                        background-color: var(--primary_color_opacity);
                        border: none;
                    }
                }

                #btn_cancel {
                    &:hover {
                        background-color: var(--color_red_cancel);
                    }
                }

                #btn_prev {
                    &:hover {
                        background-color: var(--primary_color_opacity);
                    }
                }

                #btn_cancel,
                #btn_prev {
                    background: none;
                    border: 1px solid var(--primary_color);
                    color: var(--primary_color);
                    width: 5em;
                    height: 2em;
                    font-size: 0.9em;

                    &:hover {
                        color: white;
                        border: none;
                    }
                }
            }
        }

        #img {
            position: absolute;
            right: 13em;
            bottom: 1em;
            width: 25em;
            height: 20em;
            background: url('../images/avion_register.png');
            background-size: 100%;
        }
    }
}

/* MEDIA QUERIES PARA MOBILE */
@media (max-width:600px) {

    main {
        flex-direction: column;
        gap: 0em;
        height: 100%;

        #section_title {
            margin: 1.5em 0em;

            h1 {
                font-size: 2.2em;
            }

            h4 {
                font-size: 0.7em;
            }
        }

        #section_form {
            height: 100%;
            width: 90%;

            form {
                height: 85%;

                h2 {
                    font-size: 1.5em;
                    margin: 0.5em;
                }

                label {
                    font-size: 1em;
                }

                #section_user_pass,
                #section_email {

                    input {
                        width: 85%;
                    }
                }

                section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 0em;

                    article {
                        width: 90%;
                    }
                }

                #section_user_pass {
                    flex-direction: column;
                    gap: 0em;

                    #btn_pass {
                        position: absolute;
                        right: 6.5em;
                        top: 28em;
                        margin: 0em;
                    }
                }

                #section_name {
                    flex-direction: column;
                    gap: 0em;

                    input {
                        width: 85%;
                    }
                }

                #section_document{
                    display:none;
                }

                #section_document_mobile {
                    display: flex;

                    select {
                        width: 70%;
                        height: 2.3em;
                        margin: 0.5em 0em 3em 0.7em;
                    }

                    input {
                        width: 90%;
                    }

                    #article_document_mobile {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.5em;
                    }

                    #article_type {
                        width: 40%;
                    }
                }

                .section_buttons {
                    flex-direction: row-reverse;
                    justify-content: end;
                }
            }

            #img {
                position: absolute;
                right: -2em;
                top: 4em;
                width: 10em;
                height: 8em;
                background: url('../images/avion_register.png');
                background-size: 100%;
            }
        }
    }
}