/* VARIABLES */
:root {
    --primary_font: "Source Sans 3", sans-serif;
    --primary_color: #3c74a6;
    --primary_color_opacity: #3c75a682;
    --color_red_cancel: #a50404;
}

body {
    font-family: var(--primary_font);
}

.container {
    display: grid;
    grid-template-columns: 17em 1fr;
    grid-template-rows: 18vh 1fr;
    grid-template-areas:
        "nav header"
        "nav main";
    height: 100vh;
}

.nav_flight {
    grid-area: nav;
    padding: 1.8em 0em 1.2em 0em;
    border-right: 8px solid var(--primary_color_opacity);
}

ul {
    list-style: none;
    padding: 0em;
}

li {
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    height: 3.2em;
    color: var(--primary_color);
    font-size: 25px;
    cursor: pointer;

}

li:hover {
    color: white;
    background-color: var(--primary_color_opacity);
    border-left: 5px solid var(--primary_color);
}

#link_search {
    color: white;
    background-color: var(--primary_color_opacity);
    border-left: 5px solid var(--primary_color);
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    border-bottom: 0.25em solid var(--primary_color);

    h1 {
        font-family: var(--primary_font);
        font-size: 3.5em;
        font-weight: 400;
        color: var(--primary_color);
        margin: 0em 0.5em;
    }
}

#btn_hamburguesa,
#menu_nav {
    display: none;
    /* solo mobile */
}


main {
    grid-area: main;

    .filtros {
        margin: 1.25em;
        display: flex;
        align-items: center;
        gap: 1em;

        label,
        select {
            display: inline-block;
            box-sizing: border-box;
            padding: 0.4em 0.6em;
            font-size: 0.9em;
            color: #808080;
        }

        label {
            font-size: 1.1em;
        }

        .btn {
            display: flex;
            padding: 0;
<<<<<<< HEAD
            justify-content: flex-end;
            width: 100%;
            padding-right: 2.5em;
            gap: 0.625em;
=======
            gap: 0.5em;
            justify-content: center;
            align-items: center;
            width: 100%;
>>>>>>> fb3e067bd6b1de3b5d2af5b9e4828628964e1252

            #btn_aplicar {
                padding: 0.6em 1.5em;
                width: auto;
                min-width: 4.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2.5em;
                background-color: var(--primary_color);
                border: none;
                color: white;
                font-size: 1.3em;
                gap: 0.2em;

                &:hover {
                    background-color: var(--primary_color_opacity);
                    border: none;
                }
            }

            #btn_borrar {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.8em;
                height: 1.8em;
                background-color: white;
                border: 1px solid var(--primary_color);
                color: var(--primary_color);
                font-size: 1.3em;
<<<<<<< HEAD
                margin: 0.625em;
=======
>>>>>>> fb3e067bd6b1de3b5d2af5b9e4828628964e1252

                &:hover {
                    background-color: var(--color_red_cancel);
                    color: white;
                    border: none;
                }
            }
        }
    }

<<<<<<< HEAD
    .filtros_mobile {
        display: none;
        flex-direction: column;
        gap: 0.5em;
        padding: 1em;
        font-family: var(--primary_font);
    }

    .filtros_mobile button {
        padding: 0.5em;
        font-size: 1em;
        background-color: var(--primary_color);
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 0.25em;
    }

    .filtros_mobile select {
        width: 100%;
        padding: 0.4em;
        font-size: 0.9em;
        margin-bottom: 0.5em;
        border: 1px solid #ccc;
        border-radius: 0.25em;
        color: #555;
    }

=======
>>>>>>> fb3e067bd6b1de3b5d2af5b9e4828628964e1252
    .div_ticket {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3em;
    }

    .ticket_avion {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
        border: 0.125em solid var(--primary_color);
        padding: 2em;
        margin: 1em 0 1.5em;
        width: 60%;

        article {

            h4,
            h5 {
                margin: 0.3em 0;
                font-size: 1em;
            }

            h5 {
                font-weight: 500;
            }
        }

        .article_salida {
            display: flex;
            flex-direction: column;
            align-items: end;
        }

        .article_trayecto {
            display: flex;
            flex-direction: column;
            align-items: center;

            article {
                display: flex;
                align-items: center;
                gap: 0.5em;
            }

            .line {
                width: 15em;
                height: 0.1em;
                background-color: var(--primary_color);
            }

            .icon_avion {
                transform: rotate(90deg);
                color: var(--primary_color);
            }
        }

        .article_llegada {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        .precio_contenedor {
            display: flex;
            align-items: center;
            gap: 1em;
            margin-left: 1em;
        }

        .linea_vertical {
            width: 0.125em;
            height: 3.125em;
            background-color: var(--primary_color);
        }

        .precio {
            font-size: 1.2em;
            font-weight: bold;
            color: var(--primary_color);
        }
    }

    .btn_generar_compra {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;
        border: none;
        background: var(--primary_color);
        color: white;
        font-size: 1em;
        padding: 0.5em 1em;
        cursor: pointer;

        &:hover {
            background-color: var(--primary_color_opacity);
        }
<<<<<<< HEAD

        .simbolo_peso {
            width: 1.6em;
            height: 2em;
            vertical-align: middle;
        }

        .texto_aplicar {
            display: inline;
        }
=======
>>>>>>> fb3e067bd6b1de3b5d2af5b9e4828628964e1252
    }

    button {
        cursor: pointer;
        border-radius: 0.125em;
    }
}


@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    /* DESKTOP */
    .nav_flight {
        grid-area: nav;
        padding: 1.8em 0em 1.2em 0em;
        border-right: 0.5em solid var(--primary_color_opacity);
    }

    .nav_flight ul {
        list-style: none;
        padding: 0;
    }

    .nav_flight li {
        display: flex;
        align-items: center;
        padding-left: 0.5em;
        height: 3.2em;
        color: var(--primary_color);
        font-size: 1.56em;
        cursor: pointer;
    }

    .nav_flight li:hover {
        color: #ffffff;
        background-color: var(--primary_color_opacity);
        border-left: 0.3125em solid var(--primary_color);
    }

    #link_search {
        color: #ffffff;
        background-color: var(--primary_color_opacity);
        border-left: 0.3125em solid var(--primary_color);
    }

    header {
        grid-area: header;
        display: flex;
        align-items: center;
        border-bottom: 0.25em solid var(--primary_color);
    }

    header h1 {
        font-family: var(--primary_font);
        font-size: 3.5em;
        font-weight: 400;
        color: var(--primary_color);
        margin: 0em 0.5em;
    }

    #btn_hamburguesa {
        display: none;

    }













    @media (max-width: 767px) {
        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        .nav_flight {
            display: none;
            border: none;
            padding: 0.5em 1em;
            width: 100%;
            background-color: white;
        }

        .nav_flight ul {
            flex-direction: column;
            gap: 0.5em;
        }

        .nav_flight li {
            font-size: 1.2em;
            padding-left: 1em;
            height: 2.5em;

            align-items: center;

        }

        #menu_nav.mostrar {
            display: block;
        }

        #btn_hamburguesa {
            display: block;
            font-size: 2em;
            background: none;
            border: none;
            color: var(--primary_color);
            cursor: pointer;
            padding: 0.5em 1em;
        }

        header {
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5em 1em;
        }

        header h1 {
            font-size: 2em;
            margin: 0;
        }
    }

    main {
        grid-area: unset;
        padding: 1em;
        overflow-y: auto;

        .filtros {
            display: none !important;


        }

        .filtros_mobile {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 1em;
            flex-wrap: nowrap;

            #btn_filtrar,
            .btn_toggle,
            select {
                font-size: 0.8em;
                padding: 0.3em 0.5em;
                background-color: white;
                color: var(--primary_color);
                border: 0.06em solid var(--primary_color);
            }

            #contenedor_filtros {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
            }

            .btn {
                display: flex;
                justify-content: flex-end;
                width: auto;
                gap: 0.5em;
                background-color: white;
                padding-right: 0;
                

                #btn_aplicar {
                    font-size: 1em;
                    padding: 0.4em 1em;

                    &:hover {
                        background-color: var(--primary_color_opacity);
                        border: none;
                    }

                }

                #btn_borrar {
                    width: 2em;
                    height: 2em;
                    font-size: 1em;
                    margin: 0.4em;
                    background-color: white;
                    border: 0.1em solid var(--primary_color);
                    color: var(--primary_color);

                    &:hover {
                        background-color: var(--color_red_cancel);
                        color: white;
                        border: none;
                    }

                    .icono_basura {
                        width: 1.5em;
                        height: 1.5em;
                        color: var(--primary_color);
                    }
                }
            }
        }


        .div_ticket {
            gap: 1.5em;
        }

        .ticket_avion {
            width: 70%;
            height: 60%;
            padding: 0.4em 0.7em;
            gap: 0.3em;
            font-size: 0.55em;

            article {

                padding: 1em auto;

                h4,
                h5 {
                    font-size: 1.5em;
                }
            }

            .article_salida {
                align-items: flex-end;
            }

            .article_trayecto {
                gap: 0.2em;

                article {
                    gap: 0.2em;
                }

                .line {
                    width: 4em;
                }

                .icon_avion {
                    width: 2em;
                    height: 0.6em;
                }

                h4,
                h5 {
                    font-size: 1em;
                    margin: 0.1em 0;
                }
            }

            .article_llegada {
                align-items: flex-start;
            }

            .precio_contenedor {
                margin-left: 0.3em;
                gap: 1em;
            }

            .linea_vertical {
                width: 0.3em;
                height: 2em;
            }

            .precio {
                font-size: 1.5em;
            }
        }

        .btn_generar_compra {
            font-size: 0.8em;
            gap: 0.2em;
            height: 1.8em;


            .texto_aplicar {
                display: none;
                width: 0;
                overflow: hidden;
            }

            .simbolo_peso {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
}