/* VARIABLES */
:root {
    --primary_font: "Source Sans 3", sans-serif;
    --primary_color: #3c74a6;
    --primary_color_opacity: #3c75a682;
    --color_red_cancel: #a50404;
}

.container {
    font-family: var(--primary_font);
    display: grid;
    grid-template-columns: 17em 1fr;
    /* nav y el resto */
    grid-template-rows: 18vh 1fr;
    /* header y main */
    grid-template-areas:
        "nav header"
        "nav main";
    height: 100vh;
    /* para que tome todo el alto */
}

.nav_search {
    grid-area: nav;
    padding: 1.8em 0em 1.2em 0em;
    border-right: 8px solid var(--primary_color_opacity);

    #link_search {
        color: white;
        background-color: var(--primary_color_opacity);
        border-left: 5px solid var(--primary_color);
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    height: 3.2em;
    color: var(--primary_color);
    font-size: 25px;
    cursor: pointer;

    &:hover {
        color: #ffffff;
        background-color: var(--primary_color_opacity);
        border-left: 5px solid var(--primary_color);
    }
}

.search {
    grid-area: main;
    flex: 1;
}

.header_search {
    grid-area: header;
    display: flex;
    align-items: center;
    border-bottom: 4px solid var(--primary_color);

    h1 {
        font-family: var(--primary_font);
        font-size: 3.5em;
        font-weight: 400;
        color: var(--primary_color);
        margin: 0em 0.5em;
    }
}

a {
    text-decoration: none;
    color: #808080;
    font-size: 21px;
    font-weight: 100;
}

.search_form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search_form>*:not(:last-child) {
    margin-bottom: 30px;
}

.form_radio {
    display: flex;
    gap: 6em;
    margin: 1.8em;
}

.form_radio label {
    display: flex;
    gap: 10px;
    font-size: 1.4em;
    margin: 0em;
}

input[type="radio"] {
    accent-color: var(--primary_color);
    margin: 0em;
}

.form_border {
    border: 2px solid var(--primary_color);
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#fila,
#fila2 {
    display: flex;
    gap: 20px;
}

#fila2 {
    display: flex;
    justify-content: center;
    /* centra horizontalmente */
    gap: 20px;
    /* espacio entre los campos */
}

#fila>div,
#fila2>div {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    margin-left: 80px;
}

#fila3 {
    /* display: flex;
    flex-direction: column;
    justify-content: center;*/
    align-items: center;
    /* centra el contenido horizontalmente */
    /* width: fit-content;*/
    /* ajusta al tamaño del contenido */
    margin: 0 auto;
}

label {
    font-size: 20px;
    margin-bottom: 15px;
    color: #808080;
}

input,
select {
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 2px;
    color: #808080;
}

select {
    padding-right: 25px;
}

input {
    margin-bottom: 20px;
    padding-right: 40px;
}

#fila3 #toggle_clase_pasajeros {
    color: #808080;
}

#fila3.selector_clase_pasajeros {
    position: relative;
    width: 300px;
}

#fila3.selector_clase_pasajeros .selector_toggle {
    margin-top: 15px;
    position: relative;
    padding: 10px 80px 10px 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.selector_toggle .flecha {
    position: absolute;
    right: 12px;
    /* ajustá según necesidad */
    pointer-events: none;
}

#fila3.selector_clase_pasajeros .selector_menu {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
    flex-direction: column;
    gap: 10px;
}

#fila3.selector_clase_pasajeros.abierto .selector_menu {
    display: flex;
}

#fila3.selector_clase_pasajeros .opcion_clase {
    display: flex;
    align-items: center;
    gap: 10px;
}

#fila3.selector_clase_pasajeros .grupo_pasajero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#fila3.selector_clase_pasajeros .grupo_pasajero input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
}

#fila3.selector_clase_pasajeros .grupo_pasajero button {
    width: 25px;
    height: 25px;
    font-weight: bold;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 4px;
}

.button_search {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2em;
    gap: 1em;
}

#btn_cancel {
    background: none;
    border: 1px solid var(--primary_color);
    color: var(--primary_color);
    width: 6em;
    height: 2em;
    font-size: 0.9em;
    border-radius: 2px;
}

#btn_cancel:hover {
    background-color: var(--color_red_cancel);
        color: white;
        border: none;
}

#btn_search {
    width: 9em;
    height: 2.5em;
    background-color: var(--primary_color);
    border: none;
    color: white;
    border-radius: 2px;
    font-size: 1.3em;
}

#btn_search:hover {
    background-color: var(--primary_color_opacity);
    border: none;
}