/* VARIABLES */
:root {
    --primary_font: "Source Sans 3", sans-serif;
    --primary_color: #3C74A6;
    --primary_color_opacity: #3c75a682;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--primary_color);
    height: 8vh;

    div {
        background-image: url('../images/logo.png');
        background-size: 100%;
        width: 20em;
        height: 2.5em;
    }

    #nav_mobile {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-around;
        width: 70em;
        height: 100%;

        button {
            width: 20%;
            font-family: var(--primary_font);
            color: var(--primary_color);
            font-size: 1.4em;
            background: none;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: var(--primary_color_opacity);
                color: white;
                border-bottom: 5px solid var(--primary_color);
            }
        }

        #btn_miperfil {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
        }

        #btn_questions {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1em;
            gap: 0.5em;
        }
    }
}

/* MEDIA QUERIES PARA MOBILE */
@media (max-width:600px) {

    header {
        height: 10vh;
        justify-content: space-between;

        div {
            background-image: url('../images/condor.png');
            background-size: 100%;
            width: 5em;
            height: 5em;
            margin: 0em 1em;
        }

        nav {
            display: none;
        }

        #nav_mobile {
            display: flex;
            width: 4em;
            margin: 0em 0.5em;

            button {
                width: 2.5em;
                height: 2.5em;
                padding: 0em;
            }
        }

    }

}